<div class="filler"></div>

<div class="articles container">

    {{#each articles}}
<div class="card">
  <div class="card-header panel-title">
    <h5>{{title}}
    <button data-id={{_id}} class="btn btn-danger float-right delete-article">Delete Article</button>
    <button data-id={{_id}} class="btn btn-primary float-right note-button"  id="noteButton" data-toggle="modal" data-target="#noteModal" data-value="{{this._id}}">Notes</button>
          <!-- Modal -->
      <div id="noteModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <!--title including the id of the current article-->
                      <h4 class="modal-title" id=""><b>Notes:</b></h4>
                      <!--where notes will be displayed-->
                      <div>
                          <ul id="notesBody">

                          </ul>
                      </div>
                  </div>
                  <div class="modal-body">
                      <div class="form-group">

                          <label for="exampleTextarea">Enter New Note</label>
                          <!--enter note text-->
                          <textarea class="form-control" id="notestext" rows="3"></textarea>
                      </div>
                      <div><!--enter saved notes here--></div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button data-id={{_id}}  data-dismiss="modal" id="modalNoteButton" class="btn btn-primary savenote">Save changes</button>
                  </div>
              </div>
          </div>
      </div>		
    </h5>
  </div>
  <div class="card-body">
    <p class="card-text summary">{{summary}}</p>
    <a href="#" class="artLink" href={{link}}>{{link}}</a>
          
    </div>
     <br />
    <br />
    </div>
    {{/each}}
    </div>

